<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../assets/marguerite.jpeg" />
    </figure>
  </div>

  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">Marguerite</p>
      <p class="subtitle is-6"><i>Elegant</i></p>
    </div>
    <div class="content">Prune marguerite daisies by deadheading spent flowers and cutting away dead foliage to promote new growth and increase the bushiness of the shrubs.</div>
  </div>
</div>
